<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{header :: copy}"></div>
<div class="contents container">
    <div class="articles row">
        <div class="article col-sm-3">
            ほげ
        </div>
        <div class="article col-sm-3">
            ほげ
        </div>
        <div class="article col-sm-3">
            ほげ
        </div>
    </div>
</div>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>