<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<div th:fragment="copy" class="bg-dark navbar-dark side-bar">
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>区</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/wards}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/wards/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>区内エリア</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/ward-areas}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/ward-areas/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>飲食店</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/restaurants}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/restaurants/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>メニュー</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/menus}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/menus/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>問い合わせ</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/questions}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/questions/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>アカウント</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/accounts}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/accounts/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
    <div class="sidebar-contents border-top border-bottom">
        <div class="sidebar-contents-title">
            <h6>ロール</h6>
        </div>
        <div class="sidebar-contents-menu">
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/roles}">一覧</a>
                </p>
            </div>
            <div class="sidebar-contents-menu-select">
                <p>
                    <a class="sidebar-contents-menu-select-link" th:href="@{/admin/roles/register}">登録</a>
                </p>
            </div>
        </div>
    </div>
</div>

</html>