<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-show.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-2　bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <div class="registerform">
                <h3 class="registerform-title">問い合わせ削除確認画面</h3>
                <form method="post" th:action="@{'/admin/questions/delete'}" th:object="${deleteForm}">
                    <input type="hidden" name="id" th:value="${deleteFormResponse.deleteForm.id}"/>
                    <div class="admin-detail">
                        <dl class="admin-detail-content">
                            <dt>id</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.id}"></dd>
                            <dt>件名</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.title}"></dd>
                            <dt>本文</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.text}"></dd>
                            <dt>送信者メールアドレス</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.senderMailAddress}"></dd>
                            <dt>解決フラグ</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.resolvedFlg}"></dd>
                            <dt>作成日時</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.createdAt}"></dd>
                            <dt>更新日時</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.updatedAt}"></dd>
                        </dl>
                        <button type="submit" class="btn btn-primary">削除する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>