<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-top.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-sm-2　bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <h3 class="admin-title border-bottom">問い合わせ</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">件名</th>
                    <th scope="col">送信者メールアドレス</th>
                    <th scope="col">解決フラグ</th>
                    <th scope="col">作成日時</th>
                    <th scope="col">更新日時</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1001</th>
                    <td>１</td>
                    <td>もっと店を増やして欲しい</td>
                    <td>taro@mail.com</td>
                    <td>未解決</td>
                    <td>5月20日</td>
                    <td>5月20日</td>
                    <td>
                        <a th:href="@{/admin/questions/1}">詳細</a>
                    </td>
                    <td>
                        <a th:href="@{/admin/questions/update/1}">更新</a>
                    </td>
                    <td>
                        <a th:href="@{/admin/questions/delete/1}">削除</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>港区</td>
                    <td>画像</td>
                    <td>5月20日</td>
                    <td>5月20日</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>渋谷区</td>
                    <td>画像</td>
                    <td>5月20日</td>
                    <td>5月20日</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>