<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-2　bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <div class="registerform">
                <h3 class="registerform-title">問い合わせ更新</h3>
                <form method="post" th:action="@{'/admin/questions/update'}" th:object="${updateForm}">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" th:value="${updateFormResponse.updateForm.id}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="title">件名</label>
                            <input type="text" class="form-control" id="title" name="title" th:value="${updateFormResponse.updateForm.title}"  placeholder="件名を入力してください">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="text">本文</label>
                            <textarea placeholder="本文を入力してください" class="form-control" id="text" name="text" th:text="${updateFormResponse.updateForm.text}"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="senderMailAddress">送信者メールアドレス</label>
                            <input type="email" class="form-control" id="senderMailAddress" name="senderMailAddress" th:value="${updateFormResponse.updateForm.senderMailAddress}"   placeholder="送信者メールアドレスを入力してください">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="row">
                                <label class="col-form-label col-sm-2">解決フラグ</label>
                                <div class="col-sm-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="resolvedFlg" id="resolvedFlg" value="false" th:checked="${updateFormResponse.updateForm.resolvedFlg==false}">
                                        <label class="form-check-label" for="resolvedFlg">未解決</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="resolvedFlg" id="unResolvedFlg" value="true" th:checked="${updateFormResponse.updateForm.resolvedFlg==true}">
                                        <label class="form-check-label" for="unResolvedFlg">解決済み</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">更新</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>