<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-show.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-10">
            <form method="delete" th:action="@{'/client/accounts/delete/{accountId}(accountId=${deleteForm.id})'}" th:object="${deleteForm}">
                <h3 class="border-bottom">退会しますか？</h3>
                <button type="submit" class="btn btn-primary">削除する</button>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
</body>
</html>