<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-show.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-2　bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <div class="registerform">
                <h3 class="registerform-title">区削除確認画面</h3>
                <form method="post" th:action="@{'/comment/create'}" th:object="${commentCreateForm}">
                    <input type="hidden" name="id" />
                    <div class="admin-detail">
                        <dl class="admin-detail-content">
                            <dt>id</dt>
                            <dd>1001</dd>
                            <dt>区名</dt>
                            <dd>豊島区</dd>
                            <dt>店舗画像</dt>
                            <dd>豊島区</dd>
                            <dt>作成日時</dt>
                            <dd>2020/9/21</dd>
                            <dt>更新日時</dt>
                            <dd>2020/9/21</dd>
                        </dl>
                        <button type="submit" class="btn btn-primary">削除する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>