<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-top.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-show.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-sm-2 bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <h3 class="admin-title border-bottom">区詳細</h3>
            <div class="admin-detail">
                <dl class="admin-detail-content">
                    <dt>id</dt>
                    <dd th:text="${ward.id}"></dd>
                    <dt>区名</dt>
                    <dd th:text="${ward.name}"></dd>
                    <dt>区画像</dt>
                    <dd>
                        <img th:src="@{data:{mimeType};base64,{image}(image=${ward.image},mimeType=${ward.mimeType})}" class="img-fluid rounded">
                    </dd>
                    <dt>作成日時</dt>
                    <dd th:text="${ward.createdAt}"></dd>
                    <dt>更新日時</dt>
                    <dd th:text="${ward.updatedAt}"></dd>
                </dl>
                <div class="row">
                    <div class="col-sm-2">
                        <a th:href="@{/admin/wards/update/{wardId}(wardId=${ward.id})}">更新</a>
                    </div>
                    <div class="col-sm-2">
                        <a th:href="@{/admin/wards/delete/{wardId}(wardId=${ward.id})}">削除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>