<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/question.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{client/header :: copy}"></div>
<div class="contents container">
    <h3>問い合わせ</h3>
    <div class="question">
        <div class="form">
            <form method="post" th:action="@{'/questions/register'}" th:object="${registerForm}">
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="title">問い合わせ件名</label>
                        <input type="text" class="form-control" id="title" placeholder="件名を入力してください" name="title">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="senderMailAddress">メールアドレス</label>
                        <input type="email" class="form-control" id="senderMailAddress" name="senderMailAddress" placeholder="メールアドレスを入力してください">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="text">問い合わせ本文</label>
                        <textarea placeholder="問い合わせ本文を入力してください" id="text" class="form-control" name="text"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{client/footer :: copy}"></div>
</body>
</html>