<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/restaurant.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
<div th:insert="~{client/header :: copy}"></div>
<div class="contents container">
    <h2 class="restaurant-title border-bottom" th:text="${restaurantsShowResponse.showModel.name}"></h2>
    <div class="restaurant-introduction row">
        <div class="col-sm-4 restaurant-introduction-image">
            <img th:src="@{data:{mimeType};base64,{image}(image=${restaurantsShowResponse.showModel.image},mimeType=${restaurantsShowResponse.showModel.mimeType})}" class="img-fluid rounded">
        </div>
        <div class="col-sm-8 restaurant-introduction-description">
            <p>住所：<span th:text="${restaurantsShowResponse.showModel.address}"></span></p>
            <p>電話番号：<span th:text="${restaurantsShowResponse.showModel.phoneNumber}"></span></p>
            <p>営業開始時間：<span th:text="${restaurantsShowResponse.showModel.fromTime}"></span></p>
            <p>営業終了時間：<span th:text="${restaurantsShowResponse.showModel.toTime}"></span></p>
        </div>
    </div>
    <div class="menu-list">
        <div class="menu-title">
            <h4>メニュー</h4>
        </div>
        <dev class="row">
            <div class="col-sm-3" th:each="menu : ${restaurantsShowResponse.showModel.menuModelList}">
                <img th:src="@{data:{mimeType};base64,{image}(image=${menu.image},mimeType=${menu.mimeType})}" class="img-fluid rounded">
                <div class="menu-name rounded">
                    <p th:text="${menu.name}"></p>
                    <p><span th:text="${menu.price}"></span>円</p>
                </div>
            </div>
        </dev>
    </div>
</div>
<div th:insert="~{client/footer :: copy}"></div>
</body>
</html>