<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-2" th:replace="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <div class="registerform">
                <h3 class="registerform-title">区内エリア削除確認画面</h3>
                <form method="post" th:action="@{'/admin/ward-areas/delete'}" th:object="${wardAreaDeleteForm}">
                    <input type="hidden" name="id" th:value="${deleteFormResponse.deleteForm.id}" />
                    <div class="admin-detail">
                        <dl class="admin-detail-content">
                            <dt>id</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.id}"></dd>
                            <dt>区内エリア名</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.name}"></dd>
                            <dt>画像</dt>
                            <img th:src="@{data:{mimeType};base64,{image}(image=${deleteFormResponse.deleteForm.image},mimeType=${deleteFormResponse.deleteForm.mimeType})}" class="img-fluid rounded">
                            <dt>所属区名</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.wardName}"></dd>
                            <dt>作成日時</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.createdAt}">2020/9/21</dd>
                            <dt>更新日時</dt>
                            <dd th:text="${deleteFormResponse.deleteForm.updatedAt}">2020/9/21</dd>
                        </dl>
                        <button type="submit" class="btn btn-primary">削除する</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>