<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-registerform.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-2　bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <div class="registerform">
                <h3 class="registerform-title">区内エリア更新</h3>
                <form method="post" th:action="@{'/admin/ward-areas/update'}" th:object="${wardAreaUpdateForm}">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" th:value="${updateFormResponse.updateForm.id}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="name">エリア名</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="${updateFormResponse.updateForm.name}" placeholder="区名を入力してください">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="image">画像</label>
                            <input type="file" class="form-control-file" id="image" name="image">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <img th:src="@{data:{mimeType};base64,{image}(image=${updateFormResponse.updateForm.imageConvertedByBase64},mimeType=${updateFormResponse.updateForm.mimeType})}" class="img-fluid rounded">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="imageUpdateFlg" id="imageNoUpdate" value="false" checked>
                                <label class="form-check-label" for="imageNoUpdate">画像を更新しない</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="imageUpdateFlg" id="imageUpdate" value="true">
                                <label class="form-check-label" for="imageUpdate">画像を更新する</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="wardId">所属区名</label>
                                <select class="form-control" id="wardId" name="wardId">
                                    <option th:each="ward : ${updateFormResponse.wardList}" th:text="${ward.name}" th:value="${ward.id}" th:selected="${ward.id==updateFormResponse.updateForm.wardId}" ></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">更新</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>