<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nanpa_Picks</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/articles.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
</head>
<body>
    <header th:fragment="copy">
        <div class="navbar bg-dark navbar-dark">
            <a href="/" class="text-light navbar-brand">東京飲食テイクアウト情報館</a>
        </div>
        <div class="jumbotron top-image">
            <div class="container">
                <h1>東京都内のテイクアウトグルメを楽しもう</h1>
                <p>東京都内でテイクアウトが可能な飲食店の情報をまとめたグルメサイトです。</p>
                <p>美味しいものを食べておうち時間を快適に過ごしましょう。</p>
            </div>
        </div>
    </header>
</body>
</html>