<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>東京テイクアウト飲食店情報館</title>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="all" th:href="@{/css/application.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/sidebar.css}" />
    <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-top.css}" />
    <link rel="stylesheet" media="all" th:href="@{/css/admin-show.css}" />
</head>
<body>
<div th:insert="~{admin/header :: copy}"></div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-sm-2 bg-dark navbar-dark" th:insert="~{admin/sidebar :: copy}"></div>
        <div class="col-sm-10">
            <h3 class="admin-title border-bottom">メニュー詳細</h3>
            <div class="admin-detail">
                <dl class="admin-detail-content">
                    <dt>id</dt>
                    <dd>1001</dd>
                    <dt>メニュー名</dt>
                    <dd>ハンバーグ</dd>
                    <dt>価格</dt>
                    <dd>５００円</dd>
                    <dt>画像</dt>
                    <dd>画像１</dd>
                    <dt>レストラン名</dt>
                    <dd>キッチン南海</dd>
                    <dt>優先度</dt>
                    <dd>1</dd>
                    <dt>作成日時</dt>
                    <dd>2020/9/21</dd>
                    <dt>更新日時</dt>
                    <dd>2020/9/21</dd>
                </dl>
                <div class="row">
                    <div class="col-sm-2">
                        <a th:href="@{/admin/menus/update/1}">更新</a>
                    </div>
                    <div class="col-sm-2">
                        <a th:href="@{/admin/menus/delete/1}">削除</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>